name = RecordAudio

flex.sdk = /Applications/Adobe Flash Builder 4.7/sdks/4.13(air17)

bin.ext = 

ios.sdkversion = iphoneos
android.sdk = /Users/Pamakids-Dev/SDK/adt-bundle-mac-x86_64-20140321/sdk/platforms/android-19

android.aidl = /Users/Pamakids-Dev/SDK/adt-bundle-mac-x86_64-20140321/sdk/build-tools/android-4.4.2/aidl
